html {
  font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    src: url('UI/fonts/Inter-Medium.woff2') format('woff2'),
        url('UI/fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('UI/fonts/Inter-Bold.woff2') format('woff2'),
        url('UI/fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('UI/fonts/Inter-Regular.woff2') format('woff2'),
        url('UI/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}